body{
    background-image: url("/static/img/background1.jpg");
}

.entire{
    width: 600px;
    margin: 0 auto;
}

.title{
    color: #000;
}

.title a {
    color: #fff;
    text-decoration: none;
}

header {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
}

.title {
    margin-right: auto;
}

.menu-item {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.button1,
.button2,
.button3 {
    color: #f0f;
    background-color: #0000;
    font-size: larger;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
    border-bottom: .25rem solid transparent;
    border-bottom-color: #f0f;
}

.check_button,
.timerStop,
.timerStart {
    color: rgb(255, 102, 0);
    background-color: #0000;
    font-size: larger;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 1px 3px;
    border: 2.0px solid #000;
    border-radius: 0%;  /*角状態*/
    cursor: pointer;
}

.clock{
    text-align: center;
    font-size: 70px;
    line-height: 0%;
}

.timer_text{
    text-align: center;
    line-height: 0%;
}

.timer{
    text-align: center;
    font-size: 50px;
    line-height: 0%;
}

form
{
    text-align: center;
}


.drop_down1{
    width:50px;
    font-size: 18px;
    border: 1.5px solid #000; /*枠*/
    background-color: #0000;
}

.drop_down2{
    width: 150px;
    font-size: 18px;
    border: 1.5px solid #000; /*枠*/
    background-color: #0000;
}
.check{
    text-align: center;
}

.startStop {
    display: flex;
    justify-content: space-evenly;
}

.select_content {
    margin-bottom: 20px;
}

.select_content p {
    margin-bottom: 5px;
}

#video_area,
#capture_image {
    display: none;
}