body{
    margin: 0;
    padding: 0;
    background-color: #000;
    background-image: url("/static/img/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
}

.entire{
    width: 700px;
    margin: 80px auto;
}

.title a {
    color: #fff;
    text-decoration: none;
}

header {
    background-color: #000;
    padding: 10px 0 15px;
}

.header_content {
    display: flex;
    height: 40px;
    align-items: center;
    width: 700px;
    margin: 0 auto;
}

.title {
    margin-right: auto;
}

.menu-item {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.nav_button {
    color: #fff;
    font-size: larger;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
    border-bottom: .25rem solid transparent;
}

.nav_button:hover {
    border-bottom: 2px solid #fff;
}

#work_status_button {
    color: #000;
    background-color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 1px 3px;
    border: 1px solid #000;
    border-radius: 0%;  /*角状態*/
    cursor: pointer;
}

.clock{
    text-align: center;
    font-size:30px;
    line-height: 0%;
    margin: 50px;
}

.timer_text{
    text-align: center;
    line-height: 0%;
}

.timer{
    text-align: center;
    font-size: 60px;
    line-height: 0%;
    margin-top: 40px;
    margin-bottom: 50px;
}

form
{
    text-align: center;
}


.drop_down1{
    width:50px;
    font-size: 18px;
    border: 1.5px solid #000; /*枠*/
    background-color: #0000;
}

.drop_down2{
    width: 150px;
    font-size: 18px;
    border: 1.5px solid #000; /*枠*/
    background-color: #0000;
}

.work_status{
    text-align: center;
}

#work_status_button {
    font-size: 16px;
    margin: 5px;
}

.select_content {
    margin-bottom: 20px;
}

.select_content p {
    margin-bottom: 5px;
}

#video_area,
#capture_image {
    display: none;
}

dialog #japanese {
    font-weight: bolder;
    margin: 0px;
}

footer {
    text-align: center;
    font-size: 10px;
}