.setting, .timerStop, .timerStart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: #00f;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}