<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(仮)Health Care for Engineer</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
    <div class="entire">
        <h1 class="title"><a href="/">(仮)Health Care for Engineer</a></h1>
        <div class="flex">
            <div><a href="/detection_test" class="button1">居眠り検出テスト</a></div>
            <div><a href="/activity_log" class="button2">1日の記録</a></div>
            <div><a href="/login" class="button3">ログイン<br></a></div>
        </div>
        <p>1日の記録のページです（あとで消す）</p>
    </div>
</body>
</html>