<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>(仮)Health Care for Engineer</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
    <div class="entire">
        <h1 class="title">(仮)Health Care for Engineer</h1>
        <div class="flex">
            <div><a href="" class="button1">目の検出</a></div>
            <div><a href="" class="button2">1日の記録</a></div>
            <div><a href="" class="button3">ログイン<br></a></div>
        </div>
        <p id='clock' class="clock"></p>
        <p id='timer' class="timer">アラームまで</p>
        <form name="set_time">
            眠ってから何分後に起こしますか<br>
            <select name="time" class="drop_down1">
                <option>1</option>
                <option>5</option>
                <option>10</option>
                <option>30</option>
                <option>60</option>
            </select>
            分後<br>
        </form>

        <form name="wake_up_sound">
            アラーム音<br>
            <select name="sound" class="drop_down2">
                <option>アラーム1</option>
                <option>アラーム2</option>
                <option>アラーム3</option>
                <option>アラーム4</option>
            </select>
        </form>

        <form name="sleeping_music">
            睡眠中の音楽<br>
            <select name="music" class="drop_down2">
                <option>音楽1</option>
                <option>音楽2</option>
                <option>音楽3</option>
                <option>音楽4</option>
            </select>
        </form>
    </div>
    <script type='text/javascript' src=""></script>
    <script type='text/javascript' src=""></script>
</body>
</html>