<!DOCTYPE html>
<html>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/0.0.11/push.min.js"></script>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Reboot Sleeperはあなたの居眠りをサポートします。あなたが居眠りをしたら自動でアラームをセットして一定時間後に起こしてくれます。">
    <meta name="robots" content="index, follow">
    <title>Reboot sleeper</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/static/img/favicon.ico" type="image/vnd.microsoft.icon">
</head>
<body>
    <header>
        <div class="header_content">
            <h2 class="title"><a href="/">Reboot sleeper</a></h2>
            <!-- <nav class="nav">
                <ul class="menu-group">
                    <li class="menu-item"><a href="/detection_test" class="nav_button">居眠り検出</a></li>
                    <li class="menu-item"><a href="/activity_log" class="nav_button">1日の記録</a></li>
                    <li class="menu-item"><a href="/login" class="nav_button">ログイン<br></a></li>
                </ul>
            </nav> -->
        </div>
    </header>

    <p id="hidden_popup_text"></p>
    <div class="entire">
        <p id='clock' class="clock"></p>
        <p id='timer_text' class="timer_text">アラームまで</p>
        <p id="timer" class="timer"></p>
        
        <form>
            <div class="select_content">
                <p>眠ってから何分後に起こしますか</p>
                <select name="alarmTime" id="alarmTime" class="drop_down1">
                    <option value="1m" selected>1</option>
                    <option value="5m">5</option>
                    <option value="10m">10</option>
                    <option value="30m">30</option>
                    <option value="60m">60</option>
                </select>
                <span>分後</span>
            </div>

            <div class="select_content">
                <p>アラーム音</p>   
                <select name="sound" id="alarmMusic" class="drop_down2">
                    <option value="alarm" selected>アラーム</option>
                    <option value="telephone">着信音</option>
                    <option value="bell">ベル</option>
                </select>
            </div>
            
            <div class="select_content">
                <p>睡眠中の音楽</p>
                <select name="music" id="bgm" class="drop_down2">
                    <option value="none" selected>なし</option>
                    <option value="rain">雨音</option>
                    <option value="sea">海波</option>
                    <option value="country">田舎</option>
                </select>
            </div>
        </form>

        <div class="detail_setting">
            <button id="show" class="show">詳細設定</button>
        </div>

        <div class='work_status'>
            <span>作業状態</span>
            <button id="work_status_button">作業中</button>
        </div>

        <div class="disc">
            <h3 class="disc_title">Reboot Sleeperの使い方</h3>
            <p class="disc_sentence">Reboot Sleeperはカメラを通してあなたの居眠りを検知します。<br>居眠りを検知したら自動でタイマーがスタートします。<br>タイマーが0になるとアラームとともにタイピングゲームがスタート！<br>タイピングゲームをクリアするまでアラームが鳴り続けます。<br><span class="desc_subtitle">あなたも作業をRebootしよう！</span></p>
            <p class="disc_sentence">コメントは<a href="https://github.com/bisnii/hacku" target="_blank">Github</a>のissueにてお願いします。</p>
        </div>

        <footer>
            <p id="license">この作品のアラーム音は「OtoLogic」の音源を<a href="https://creativecommons.org/licenses/by/4.0/legalcode.ja">CC BY 4.0</a>のライセンスのもとで使用しています。</p>
        </footer>
    </div>
    
    <dialog id="setting">
        <h3>詳細設定</h3>
        <p>休憩通知<br>
            <form id="break_setting">
                <input type="radio" name="q1" value="する"> する
                <input type="radio" name="q1" value="しない" checked> しない
            </form>
        </p>
        <p>起床後のタイピングゲーム<br>
            <form id="typing_setting">
                <input type="radio" name="q2" value="する" checked> する
                <input type="radio" name="q2" value="しない"> しない
            </form>
        </p>
        <p>bgmの音量<br>
            <input type="range" id="volume" value="0.5" min="0.0" max="1.0" step="0.1">
            <button id="btn_play">再生</button>
        </p>
        
        <button id="close">決定</button>
    </dialog>

    <!-- CSSで非表示に設定してある -->
    <video id="video_area" autoplay></video>
    <canvas id="capture_image"></canvas>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type='text/javascript' src="/static/scripts/clock.js"></script>
    <script type='text/javascript' src="/static/scripts/alarm.js"></script>
</body>
</html>