<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reboot sleeper</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/static/img/favicon.ico" type="image/vnd.microsoft.icon">
</head>
<body>
    <header>
        <div class="header_content">
            <h2 class="title"><a href="/typing">Reboot sleeper</a></a></h2>
        </div>
    </header>
    <div id="typing_area" class="entire">
        <p id="count"></p>
        <p id="japanese"></p>
        <p id="alphabet"></p>
    </div>
    <script src="/static/scripts/typing.js"></script>
</body>
</html>